<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Students</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>All Students</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Roll No</th>
            <th>Marks</th>
            <th>Update</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.roll_no }}</td>
            <td>{{ student.marks }}</td>
            <td><a href="{{ url_for('update_student', roll_no=student.roll_no) }}">Update</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
